<div class="mb-3 mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table" *ngIf="country$ | async as country" id="country">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Capital</th>
                            <th>Population</th>
                            <th>Currencies</th>
                            <th>Flag</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{country.name}}</td>
                            <td>{{country.capital}}</td>
                            <td>{{country.population}}</td>
                            <td>
                        <tr *ngFor="let currency of country.currencies">
                            <td *ngIf="currency.name">{{ currency.name }}, </td>
                            <td *ngIf="currency.code">{{ currency.code }}, </td>
                            <td *ngIf="currency.symbol">{{ currency.symbol}}</td>
                        </tr>
                        </td>
                        <td><img src="{{country.flag}}" width="100" length="60"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>